<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hsbc.triocodebackend.mapper.CurrencyDictMapper">

    <select id="getAllCurrency" resultType="org.hsbc.triocodebackend.model.CurrencyDict">
        SELECT code, code_name AS codeName, country_name AS countryName
        FROM currency_dict
    </select>

    <select id="selectByCode" resultType="org.hsbc.triocodebackend.model.CurrencyDict">
        SELECT code, code_name AS codeName, country_name AS countryName
        FROM currency_dict WHERE code = #{code} LIMIT 1
    </select>

</mapper>
